@use 'variables' as *;

.accordion {
    .accordion_item {
        margin-bottom: 10px;
        border: 1px solid $services-item;

        .accordion_header {
            padding: 15px 20px 15px 60px;
            position: relative;
            border: 1px solid transparent;
            cursor: pointer;

            .accordion_icon {
                position: absolute;
                top: 50%;
                left: 20px;
                z-index: 1;

                transform: translateY(-50%);
            }

            .accordion_title {
                font-size: 14px;
                color: $black;
                text-transform: uppercase;
            }

            &:after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;

                border-top: 2px solid $light;
                border-right: 2px solid $light;

                position: absolute;
                top: 50%;
                right: 20px;
                z-index: 1;

                transform: translateY(-50%) rotate(135deg);
            }

        }

        .accordion_content {
            padding: 15px 20px;
            display: none;

            font-size: 15px;
            color: $grey;
            font-style: italic;
            font-weight: 300;
        }
    }

    .accordion_item.active {
        .accordion_content {
            display: block;
        }

        .accordion_header {
            border-bottom-color: $services-item;

            &:after {
                transform: translateY(-50%) rotate(-45deg);
                margin-top: 5px;
            }
        }
    }
}