@use 'variables' as *;

.blogs {
    .blogs_item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .blogs_image {
            width: 120px;
            height: 80px;
        }

        .blogs_content {
            padding-left: 20px;
        }

        .blogs_title {
            display: block;
            margin-bottom: 5px;

            color: $black;
            font-size: 12px;
            line-height: 1.5;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .blogs_date {
            font-size: 13px;
            color: $grey;
            font-style: italic;
            font-weight: 300;
        }
    }
}