@use 'variables' as *;

.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include for-tablet-portrait-up {
        margin-top: 50px;
        justify-content: center;
      }

    .card_item {
        width: 33.33333%;
        padding: 0 15px;

        @include for-tablet-portrait-up {
            width: 100%;
            max-width: 410px;
            margin-bottom: 30px;
          }

        .card_inner {
            position: relative;
            background-color: $turquoise;

            &:hover .card_img {
                transform: translate3d(-10px, -10px, 0)
            }

            &:hover .card_img img {
                opacity: .1;
            }

            &:hover .card_text {
                opacity: 1;
            }

            .card_img {
                background: linear-gradient(to bottom, $semi-tuna, $sand);
                transition: transform .1s linear;

                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                    transition: opacity .1s linear;
                }
            }

            .card_text {
                width: 100%;

                font-size: 18px;
                color: $white;
                text-transform: uppercase;
                font-weight: 700;
                text-align: center;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 0;
                z-index: 2;
                transform: translate3d(0, -50%, 0);
                transition: opacity .2s linear;
            }
        }

        &:last-child {
            @include for-tablet-portrait-up {
                margin-bottom: 0;
              }
        }
    }

    .card_info {
        margin-top: 20px;

        text-align: center;

        .card_name {
            margin-bottom: 5px;
            font-size: 14px;
            color: $black;
            text-transform: uppercase;
        }

        .card_prof {
            font-size: 15px;
            font-style: italic;
            font-weight: 300;
            color: $grey;
        }
    }
}