@use 'variables' as *;

.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;

  @include for-phone-only {
    max-width: 320px;
  }

  .devices_item {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .devices_item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;

    @include for-phone-only {
      mwidth: 180px;
      bottom: -50px;
      right: -80px;
    }
  }
}
