@use 'variables' as *;

.works {
  display: flex;

  @include for-tablet-portrait-up {
    flex-wrap: wrap;
  }

  .works_col {
    flex: 1 1 0;

    @include for-tablet-portrait-up {
      flex: none;
      width: 50%;
    }

    @include for-phone-only {
      width: 100%;
    }

    .works_item {
      position: relative;

      background: linear-gradient(to bottom, $semi-tuna, $sand);

      &:hover .works_image {
        opacity: 0.1;
      }

      &:hover .works_info {
        opacity: 1;
      }

      .works_image {
        display: block;
        max-width: 100%;
        height: auto;

        transition: opacity 0.2s linear;
      }

      .works_info {
        width: 100%;
        padding: 0 15px;

        text-align: center;
        color: $white;
        opacity: 0;

        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;

        transform: translate3d(0, -50%, 0);

        transition: opacity 0.2 linear;

        .works_title {
          margin-bottom: 5px;

          color: $white;
          font-size: 14px;
          text-transform: uppercase;
        }

        .works_text {
          font-size: 15px;
          font-weight: 300;
          font-style: italic;
        }
      }
    }
  }
}
